@import url("https://fonts.googleapis.com/css2?family=Amiri:ital,wght@0,400;0,700;1,400;1,700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #FFFBE4;
  font-family: "Amiri", serif;
  text-align: center;
}

h1 {
  font-size: 4rem;
  color: #C47037;
  margin-top: 12rem;
}
@media (max-width: 760px) {
  h1 {
    font-size: 2rem;
  }
}

.quiz {
  min-height: 100vh;
  width: 100%;
  display: flex;
  position: relative;
}
.quiz__container {
  width: 100%;
  padding: 2rem 2rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
@media (max-width: 760px) {
  .quiz__container {
    padding: 1rem;
  }
}
.quiz__nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.quiz__other_logos img {
  height: 4rem;
  width: auto;
  margin-left: 2rem;
}
@media (max-width: 760px) {
  .quiz__other_logos img {
    height: 2.5rem;
    margin-left: 1rem;
  }
}
.quiz__blfan_logo img {
  height: 6rem;
  width: auto;
}
@media (max-width: 760px) {
  .quiz__blfan_logo img {
    height: 3.5rem;
  }
}
.quiz__answer_container {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 32px;
  position: relative;
}
.quiz__answer_container button {
  padding: 10px 70px;
  background-color: #D7C34B;
  border: none;
  font-size: 32px;
  border-radius: 5px;
}
@media (max-width: 760px) {
  .quiz__answer_container button {
    padding: 20px 30px;
    font-size: 16px;
    min-width: 100px;
  }
}
.quiz__answer_button_container {
  position: relative;
  margin: 3rem 1rem 0 1rem;
}
.quiz__answer_button_container:hover {
  cursor: pointer;
}
.quiz__answer_button_container:hover .quiz__answer_shadow {
  display: none;
}
.quiz__answer_button_container:hover button {
  background-color: #C47037;
  color: #ffffff;
}
@media (max-width: 760px) {
  .quiz__answer_button_container {
    margin-left: 0;
  }
}
.quiz__answer_shadow {
  top: 0;
  left: 0;
  position: absolute;
  z-index: -1;
  background-color: #000000;
  width: 100%;
  height: 100%;
  border-radius: 5px;
  margin: 6px 0 0 6px;
}
@media (max-width: 760px) {
  .quiz__answer_shadow {
    margin: 6px 0 0 6px;
  }
}
.quiz__decoration {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  z-index: -4;
}
@media (max-width: 760px) {
  .quiz__decoration {
    width: 50%;
    height: auto;
  }
}
.quiz__statement:hover a {
  color: #C47037;
}
.quiz__statement a {
  display: none;
  text-decoration: none;
  font-size: 2rem;
  color: #F0901D;
  padding: 10px;
  margin: 0 0 4rem 0;
  margin-left: 0 1rem;
}
@media (max-width: 760px) {
  .quiz__statement a {
    font-size: 1.2rem;
    margin: 0 0 1rem 0;
  }
}
.quiz__statement p {
  max-width: 700px;
  display: none;
  text-decoration: none;
  font-size: 1.6rem;
  color: #F0901D;
  padding: 10px;
  margin: 0 0 4rem 0;
  margin-left: 0 1rem;
}
.quiz__statement p a {
  margin: 0;
  padding: 0;
  color: #808080;
}
@media (max-width: 760px) {
  .quiz__statement p {
    font-size: 1rem;
    margin: 0 0 1rem 0;
  }
}
.quiz__back_button {
  display: none;
}

.accordion {
  max-width: 800px;
  width: 100%;
}
.accordion .accordion-item {
  margin-bottom: 20px;
}
.accordion .accordion-item .accordion-toggle {
  font-family: Amiri, serif;
  font-size: 1.5rem;
  background: linear-gradient(90deg, rgb(215, 195, 64) 65%, rgb(240, 144, 29) 98%);
  color: #000000;
  font-weight: 500;
  border: none;
  padding: 10px;
  width: 100%;
  text-align: left;
  cursor: pointer;
  display: flex;
  align-items: center;
  border-radius: 8px;
}
@media (max-width: 760px) {
  .accordion .accordion-item .accordion-toggle {
    font-size: 14px;
  }
}
.accordion .accordion-item .accordion-toggle:hover {
  background-color: rgb(240, 144, 29);
}
.accordion .accordion-item .accordion-toggle .arrow {
  margin-left: auto;
  transform: rotate(0deg);
  transition: transform 0.3s ease;
}
.accordion .accordion-item .accordion-toggle.collapsed .arrow {
  transform: rotate(-180deg);
}
.accordion .accordion-item .accordion-content {
  padding: 10px;
  display: none;
}
.accordion .accordion-item .accordion-content.show {
  display: block;
}/*# sourceMappingURL=style.css.map */